#header1{
 background-color: #009595;	
}
#header1{
  font-size: 40;
  text-decoration-color: black;
  text-align: center;

}
#header1 p{
      text-align:left;
	  
    }

#header2{
    background-color: #e1a95f;

}
#header2 a {
  text-decoration: none;
  color: #8b0000;
  font-size: 25;

}